<%- include('../partials/header.ejs') %>

<p>Nope! 404.</p>

<!-- <video autoplay muted loop id="myVideo">
    <source src="rain.mp4" type="video/mp4">
</video> -->

<%- include('../partials/footer.ejs') %>